In [95]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [96]:
# read data about all properties from Domain website
df=pd.read_csv('../data/curated/property_full.csv')

In [97]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0_x', 'Unnamed: 0.1', 'name', 'cost_text',
       'coordinates', 'rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'closest_school_name', 'closest_school_coor',
       'driving_time_to_CBD', 'distance_to_CBD', 'driving_time_to_sc',
       'distance_to_sc', 'closest_sc_name', 'closest_sc_coor',
       'driving_time_to_station', 'distance_to_station',
       'closest_station_coor', 'SA2_name', 'SA2_code', '2001population',
       '2002population', '2003population', '2004population', '2005population',
       '2006population', '2007population', '2008population', '2009population',
       '2010population', '2011population', '2012population', '2013population',
       '2014population', '2015population', '2016population', '2017population',
       '2018population', '2019population', '2020population', '2021population',
       '2011-2021no', '2011-2021%', 'Area', 'Population density 2021',
       '2014-15 #jobs*000', '2015-16 #jobs*000', '2016-17 #jobs*000',
       '2017-18 #jobs*000', '2018-19 #jobs*000',
       '2014-15 MEDIAN EMPLOYMENT INCOME PER JOB',
       '2015-16 MEDIAN EMPLOYMENT INCOME PER JOB',
       '2016-17 MEDIAN EMPLOYMENT INCOME PER JOB',
       '2017-18 MEDIAN EMPLOYMENT INCOME PER JOB',
       '2018-19 MEDIAN EMPLOYMENT INCOME PER JOB', '2011_unemploy_rate',
       '2012_unemploy_rate', '2013_unemploy_rate', '2014_unemploy_rate',
       '2015_unemploy_rate', '2016_unemploy_rate', '2017_unemploy_rate',
       '2018_unemploy_rate', '2019_unemploy_rate', '2020_unemploy_rate',
       '2021_unemploy_rate'],
      dtype='object')

In [98]:
# remove feature wouldn't be useful towards model training
df=df.drop(columns=['Unnamed: 0','Unnamed: 0_x','Unnamed: 0.1','name','coordinates','closest_school_name','closest_school_coor',
'closest_sc_name','closest_sc_coor','closest_station_coor','2001population','2002population', '2003population', 
'2004population', '2005population', '2006population', '2007population', '2008population', '2009population',
'2010population', '2011population', '2012population', '2013population','2014population', '2015population', 
'2016population', '2017population', '2018population', '2019population', '2020population',
'2014-15 MEDIAN EMPLOYMENT INCOME PER JOB', '2015-16 MEDIAN EMPLOYMENT INCOME PER JOB',
'2016-17 MEDIAN EMPLOYMENT INCOME PER JOB', '2017-18 MEDIAN EMPLOYMENT INCOME PER JOB',
'2011_unemploy_rate', '2012_unemploy_rate', '2013_unemploy_rate', '2014_unemploy_rate',
'2015_unemploy_rate', '2016_unemploy_rate', '2017_unemploy_rate', '2018_unemploy_rate', '2019_unemploy_rate', 
'2020_unemploy_rate', '2014-15 #jobs*000', '2015-16 #jobs*000', '2016-17 #jobs*000', '2017-18 #jobs*000',])

In [99]:
df.columns

Index(['cost_text', 'rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'driving_time_to_CBD', 'distance_to_CBD',
       'driving_time_to_sc', 'distance_to_sc', 'driving_time_to_station',
       'distance_to_station', 'SA2_name', 'SA2_code', '2021population',
       '2011-2021no', '2011-2021%', 'Area', 'Population density 2021',
       '2018-19 #jobs*000', '2018-19 MEDIAN EMPLOYMENT INCOME PER JOB',
       '2021_unemploy_rate'],
      dtype='object')

In [100]:
# change all numeric feature to numeric data type
cols = ['cost_text', 'rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'driving_time_to_CBD', 'distance_to_CBD',
       'driving_time_to_sc', 'distance_to_sc', 'driving_time_to_station',
       'distance_to_station', 'SA2_code', '2021population',
       '2011-2021no', '2011-2021%', 'Area', 'Population density 2021',
       '2018-19 #jobs*000', '2018-19 MEDIAN EMPLOYMENT INCOME PER JOB',
       '2021_unemploy_rate']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)
df

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,...,SA2_name,SA2_code,2021population,2011-2021no,2011-2021%,Area,Population density 2021,2018-19 #jobs*000,2018-19 MEDIAN EMPLOYMENT INCOME PER JOB,2021_unemploy_rate
0,3000.0,2.0,1.0,0.0,96.04,835.89,546.54,5088.47,57.76,371.42,...,Melbourne CBD - North,206041504.0,17439.0,11038.0,172.4,0.6,31052.4,NaN,NaN,NaN
1,2800.0,3.0,3.0,3.0,172.97,1628.15,363.29,3073.39,241.71,2043.07,...,South Melbourne,206051512.0,11860.0,1520.0,14.7,1.9,6276.1,NaN,NaN,NaN
2,2600.0,4.0,4.0,3.0,82.66,540.05,503.17,4658.67,94.27,521.19,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
3,2500.0,3.0,3.0,2.0,57.18,451.24,398.12,3743.68,76.49,660.80,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
4,2400.0,3.0,2.0,2.0,82.76,540.82,503.08,4657.90,94.36,521.96,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14762,420.0,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14763,400.0,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14764,400.0,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14765,400.0,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14766,360.0,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3

In [101]:
# rename the features
df = df.rename(columns={'2021population':'population_21','2011-2021no':'num_increase',
'2011-2021%':'percent_increase','Population density 2021':'pop_dens_21','2018-19 #jobs*000':'num_job_19',
'2018-19 MEDIAN EMPLOYMENT INCOME PER JOB':'income_rate_19','2021_unemploy_rate':'unemployment_rate_21'})

In [102]:
df.columns

Index(['cost_text', 'rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'driving_time_to_CBD', 'distance_to_CBD',
       'driving_time_to_sc', 'distance_to_sc', 'driving_time_to_station',
       'distance_to_station', 'SA2_name', 'SA2_code', 'population_21',
       'num_increase', 'percent_increase', 'Area', 'pop_dens_21', 'num_job_19',
       'income_rate_19', 'unemployment_rate_21'],
      dtype='object')

In [103]:
#calculating the lower and upper limit for mean +- 1.5IQR for rent price
lower = df["cost_text"].quantile(0.25) - 1.5*(df["cost_text"].quantile(0.75)-df["cost_text"].quantile(0.25))
upper = df["cost_text"].quantile(0.75) + 1.5*(df["cost_text"].quantile(0.75)-df["cost_text"].quantile(0.25))
#remove instance which has trip time outside the 1.5IQR range from mean
df= df[(df["cost_text"]>lower) & (df["cost_text"]<upper)]

In [104]:
from statsmodels.formula.api import ols

In [105]:
# fit initial linear regression model with numeric values only
fit1=ols(
    formula="cost_text ~ rooms + baths + parking + distance_to_school + distance_to_CBD + distance_to_sc +\
        distance_to_station + population_21 + num_increase + percent_increase + Area +\
        pop_dens_21 + num_job_19 + income_rate_19 + unemployment_rate_21",
    data=df
).fit()
print(fit1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              cost_text   R-squared:                       0.478
Model:                            OLS   Adj. R-squared:                  0.477
Method:                 Least Squares   F-statistic:                     579.6
Date:                Tue, 04 Oct 2022   Prob (F-statistic):               0.00
Time:                        18:30:58   Log-Likelihood:                -56552.
No. Observations:                9518   AIC:                         1.131e+05
Df Residuals:                    9502   BIC:                         1.133e+05
Df Model:                          15
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              189.4460      9.838     19.257      0.000     170.162     208.730
rooms                   58.4817      1.284     45.552      0.000      55.965      60.998
baths                   59.8563      2.049     29.218      0.000      55.841      63.872
parking                  8.5129      1.171      7.272      0.000       6.218      10.808
distance_to_school      -0.0006      0.001     -0.761      0.447      -0.002       0.001
distance_to_CBD         -0.0002   1.66e-05     -9.684      0.000      -0.000      -0.000
distance_to_sc           0.0002      0.000      2.036      0.042    7.83e-06       0.000
distance_to_station  -2.421e-05      0.000     -0.170      0.865      -0.000       0.000
population_21            0.0022      0.001      3.989      0.000       0.001       0.003
num_increase            -0.0041      0.000     -9.893      0.000      -0.005      -0.003
percent_increase         0.0100      0.004      2.412      0.016       0.002       0.018
Area                    -0.0041      0.002     -2.017      0.044      -0.008      -0.000
pop_dens_21              0.0251      0.001     30.801      0.000       0.024       0.027
num_job_19              -2.4248      0.666     -3.638      0.000      -3.731      -1.118
income_rate_19           0.0016      0.000      6.907      0.000       0.001       0.002
unemployment_rate_21   -10.6442      0.388    -27.432      0.000     -11.405      -9.884
==============================================================================
Omnibus:                      847.563   Durbin-Watson:                   0.759
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5398.082
Skew:                           0.146   Prob(JB):                         0.00
Kurtosis:                       6.678   Cond. No.                     9.95e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.95e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [106]:
# distance to school and to train station are insignificant, remove them and fit new model
fit2=ols(
    formula="cost_text ~ rooms + baths + parking + distance_to_CBD + distance_to_sc +\
        population_21 + num_increase + percent_increase + Area +\
        pop_dens_21 + num_job_19 + income_rate_19 + unemployment_rate_21",
    data=df
).fit()
print(fit2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              cost_text   R-squared:                       0.478
Model:                            OLS   Adj. R-squared:                  0.477
Method:                 Least Squares   F-statistic:                     668.8
Date:                Tue, 04 Oct 2022   Prob (F-statistic):               0.00
Time:                        18:30:58   Log-Likelihood:                -56553.
No. Observations:                9518   AIC:                         1.131e+05
Df Residuals:                    9504   BIC:                         1.132e+05
Df Model:                          13
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept              188.3535      9.741     19.335      0.000     169.258     207.449
rooms                   58.4407      1.282     45.575      0.000      55.927      60.954
baths                   59.8093      2.048     29.209      0.000      55.796      63.823
parking                  8.5335      1.170      7.293      0.000       6.240      10.827
distance_to_CBD         -0.0002   1.66e-05     -9.688      0.000      -0.000      -0.000
distance_to_sc           0.0002   8.59e-05      2.226      0.026    2.29e-05       0.000
population_21            0.0022      0.001      3.972      0.000       0.001       0.003
num_increase            -0.0041      0.000    -10.168      0.000      -0.005      -0.003
percent_increase         0.0103      0.004      2.497      0.013       0.002       0.018
Area                    -0.0044      0.002     -2.202      0.028      -0.008      -0.000
pop_dens_21              0.0251      0.001     30.889      0.000       0.024       0.027
num_job_19              -2.3861      0.663     -3.599      0.000      -3.686      -1.086
income_rate_19           0.0017      0.000      6.971      0.000       0.001       0.002
unemployment_rate_21   -10.6336      0.388    -27.426      0.000     -11.394      -9.874
==============================================================================
Omnibus:                      846.866   Durbin-Watson:                   0.759
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5387.650
Skew:                           0.146   Prob(JB):                         0.00
Kurtosis:                       6.674   Cond. No.                     9.83e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.83e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [107]:
# add in the categorical feature, the SA2 code of each property, fit new model
fit3=ols(
    formula="cost_text ~ rooms + baths + parking + distance_to_CBD + distance_to_sc +\
        population_21 + num_increase + percent_increase + Area +\
        pop_dens_21 + num_job_19 + income_rate_19 + unemployment_rate_21 + C(SA2_code)",
    data=df
).fit()
print(fit3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              cost_text   R-squared:                       0.628
Model:                            OLS   Adj. R-squared:                  0.613
Method:                 Least Squares   F-statistic:                     40.71
Date:                Tue, 04 Oct 2022   Prob (F-statistic):               0.00
Time:                        18:31:02   Log-Likelihood:                -54938.
No. Observations:                9518   AIC:                         1.106e+05
Df Residuals:                    9138   BIC:                         1.134e+05
Df Model:                         379
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                    296.2363    101.236      2.926      0.003      97.791     494.681
C(SA2_code)[T.201011001.0]   -66.0170     15.300     -4.315      0.000     -96.009     -36.025
C(SA2_code)[T.201011002.0]   -46.3622     14.444     -3.210      0.001     -74.676     -18.049
C(SA2_code)[T.201011005.0]   -78.8255     30.203     -2.610      0.009    -138.029     -19.622
C(SA2_code)[T.201011006.0]   -62.8501     16.180     -3.885      0.000     -94.566     -31.134
C(SA2_code)[T.201011008.0]   -28.8084     19.100     -1.508      0.132     -66.249       8.632
C(SA2_code)[T.201011481.0]  3.652e-09   1.32e-08      0.276      0.783   -2.23e-08    2.96e-08
C(SA2_code)[T.201011482.0] -1.786e-09   2.55e-09     -0.700      0.484   -6.79e-09    3.22e-09
C(SA2_code)[T.201011483.0]  2.799e-10   3.19e-10      0.876      0.381   -3.46e-10    9.06e-10
C(SA2_code)[T.201011484.0]  1.209e-09   1.11e-09      1.087      0.277   -9.71e-10    3.39e-09
C(SA2_code)[T.201021009.0]   -89.0893     43.142     -2.065      0.039    -173.657      -4.521
C(SA2_code)[T.201021010.0]   -71.0852     38.060     -1.868      0.062    -145.692       3.522
C(SA2_code)[T.201021011.0]    89.7552     35.737      2.512      0.012      19.702     159.808
C(SA2_code)[T.201021012.0]   -88.9429     47.328     -1.879      0.060    -181.716       3.831
C(SA2_code)[T.201031016.0]    42.3511     39.428      1.074      0.283     -34.937     119.639
C(SA2_code)[T.202011018.0]   100.7785     22.685      4.443      0.000      56.312     145.246
C(SA2_code)[T.202011019.0]    -3.5475     28.573     -0.124      0.901     -59.557      52.462
C(SA2_code)[T.202011020.0]    21.7313     21.267      1.022      0.307     -19.958      63.420
C(SA2_code)[T.202011021.0]    -4.1994     22.382     -0.188      0.851     -48.072      39.674
C(SA2_code)[T.202011022.0]    15.6600     26.281      0.596      0.551     -35.856      67.176
C(SA2_code)[T.202011023.0]   -81.9086     79.931     -1.025      0.306    -238.590      74.773
C(SA2_code)[T.202011024.0]   -17.0244     29.166     -0.584      0.559     -74.197      40.148
C(SA2_code)[T.202011025.0]   -24.7793     28.354     -0.874      0.382     -80.359      30.800
C(SA2_code)[T.202021026.0]  -229.2738     78.895     -2.906      0.004    -383.925     -74.622
C(SA2_code)[T.202021027.0]    -0.8754     30.720     -0.028      0.977     -61.094      59.343
C(SA2_code)[T.202021028.0]   -36.6183     36.633     -1.000      0.318    -108.428      35.191
C(SA2_code)[T.202021029.0]    11.6007     42.016      0.276      0.782     -70.759      93.961
C(SA2_code)[T.202021030.0]    -9.3332     34.020     -0.274      0.784     -76.020      57.353
C(SA2_code)[T.202021031.0]     7.7516     38.190      0.203      0.839     -67.110      82.613
C(SA2_code)[T.202031032.0]     7.2438     78.998      0.092      0.927    -147.610     162.098
C(SA2_code)[T.202031033.0]    22.1070     41.132      0.537      0.591     -58.520     102.734
C(SA2_code)[T.203011034.0]  -120.2177     78.851     -1.525      0.127    -274.783      34.348
C(SA2_code)[T.203011036.0]   -46.7788     44.888     -1.042      0.297    -134.770      41.212
C(SA2_code)[T.203021037.0]   -35.6888     15.336     -2.327      0.020     -65.752      -5.626
C(SA2_code)[T.203021039.0]     3.4317     17.564      0.195      0.845     -30.998      37.861
C(SA2_code)[T.203021040.0]     3.4980     11.876      0.295      0.768     -19.781      26.777
C(SA2_code)[T.203021042.0]   -60.9269     18.751     -3.249      0.001     -97.684     -24.170
C(SA2_code)[T.203021043.0]   -28.6156     16.879     -1.695      0.090     -61.701       4.470
C(SA2_code)[T.203021044.0]   -72.6553     23.464     -3.096      0.002    -118.651     -26.660
C(SA2_code)[T.203021045.0]    10.4959     28.391      0.370      0.712     -45.157      66.149
C(SA2_code)[T.203021046.0]    -2.6376     15.992     -0.165      0.869     -33.985      28.710
C(SA2_code)[T.203021047.0]    -4.9098     16.500     -0.298      0.766     -37.254      27.434
C(SA2_code)[T.203021485.0]  8.918e-13   7.11e-13      1.254      0.210   -5.03e-13    2.29e-12
C(SA2_code)[T.203021486.0] -1.731e-15   2.77e-13     -0.006      0.995   -5.46e-13    5.42e-13
C(SA2_code)[T.203021487.0]  3.036e-13   5.19e-13      0.585      0.559   -7.14e-13    1.32e-12
C(SA2_code)[T.203021488.0] -2.636e-13   7.77e-13     -0.339      0.734   -1.79e-12    1.26e-12
C(SA2_code)[T.203031048.0]   -51.2803     18.394     -2.788      0.005     -87.336     -15.224
C(SA2_code)[T.203031049.0]   105.6812     62.548      1.690      0.091     -16.928     228.290
C(SA2_code)[T.203031051.0]     2.1877     18.994      0.115      0.908     -35.044      39.420
C(SA2_code)[T.203031052.0]    51.5671     38.458      1.341      0.180     -23.819     126.953
C(SA2_code)[T.203031053.0]   107.6288     18.943      5.682      0.000      70.497     144.761
C(SA2_code)[T.203031489.0] -1.135e-13   1.65e-13     -0.688      0.492   -4.37e-13     2.1e-13
C(SA2_code)[T.203031490.0] -1.261e-13   3.01e-13     -0.419      0.675   -7.16e-13    4.64e-13
C(SA2_code)[T.204011054.0]    20.5367     45.109      0.455      0.649     -67.887     108.961
C(SA2_code)[T.204011056.0]   -70.4901     22.188     -3.177      0.001    -113.983     -26.997
C(SA2_code)[T.204011057.0]    57.8654     41.478      1.395      0.163     -23.441     139.172
C(SA2_code)[T.204011059.0]   -26.8731     28.829     -0.932      0.351     -83.385      29.639
C(SA2_code)[T.204011062.0]   134.8175     61.889      2.178      0.029      13.501     256.134
C(SA2_code)[T.204021063.0]    44.0843     24.992      1.764      0.078      -4.906      93.075
C(SA2_code)[T.204021064.0]    96.2344     40.242      2.391      0.017      17.351     175.118
C(SA2_code)[T.204021065.0]   153.7313     51.537      2.983      0.003      52.707     254.755
C(SA2_code)[T.204021066.0]    64.3925     40.675      1.583      0.113     -15.340     144.125
C(SA2_code)[T.204021067.0]   182.1760     56.027      3.252      0.001      72.351     292.001
C(SA2_code)[T.204031068.0]    61.5298     39.899      1.542      0.123     -16.682     139.741
C(SA2_code)[T.204031069.0]   135.3747     43.110      3.140      0.002      50.870     219.880
C(SA2_code)[T.204031070.0]    26.1863     91.109      0.287      0.774    -152.408     204.781
C(SA2_code)[T.204031071.0]   -67.2543     32.300     -2.082      0.037    -130.570      -3.938
C(SA2_code)[T.204031072.0]    73.5894     56.837      1.295      0.195     -37.825     185.004
C(SA2_code)[T.204031073.0]    30.2418     65.563      0.461      0.645     -98.276     158.759
C(SA2_code)[T.204031075.0]   -83.2797     92.501     -0.900      0.368    -264.603      98.044
C(SA2_code)[T.204031491.0]  -2.52e-13   1.23e-13     -2.051      0.040   -4.93e-13   -1.12e-14
C(SA2_code)[T.204031492.0] -3.239e-13   9.84e-14     -3.292      0.001   -5.17e-13   -1.31e-13
C(SA2_code)[T.205011076.0]   -29.4522     15.582     -1.890      0.059     -59.996       1.092
C(SA2_code)[T.205011078.0]    -7.1441     40.650     -0.176      0.860     -86.826      72.538
C(SA2_code)[T.205011079.0]   -55.7019     16.842     -3.307      0.001     -88.716     -22.688
C(SA2_code)[T.205021081.0]    83.2058     52.920      1.572      0.116     -20.530     186.941
C(SA2_code)[T.205021082.0]    78.6681     45.933      1.713      0.087     -11.370     168.707
C(SA2_code)[T.205021084.0]   163.7251     53.931      3.036      0.002      58.007     269.443
C(SA2_code)[T.205021085.0]   209.2618     47.527      4.403      0.000     116.098     302.425
C(SA2_code)[T.205021086.0]   134.9064     51.303      2.630      0.009      34.341     235.472
C(SA2_code)[T.205031087.0]   -11.3019     25.252     -0.448      0.654     -60.801      38.197
C(SA2_code)[T.205031089.0]    35.8467     43.863      0.817      0.414     -50.136     121.829
C(SA2_code)[T.205031090.0]   -82.8254     35.176     -2.355      0.019    -151.779     -13.872
C(SA2_code)[T.205031091.0]    43.8687     28.417      1.544      0.123     -11.836      99.573
C(SA2_code)[T.205031093.0]    34.9221     13.018      2.683      0.007       9.403      60.441
C(SA2_code)[T.205041094.0]   -12.9239     34.662     -0.373      0.709     -80.868      55.020
C(SA2_code)[T.205041095.0]    23.7345     22.448      1.057      0.290     -20.268      67.737
C(SA2_code)[T.205041096.0]    82.2125     30.304      2.713      0.007      22.810     141.615
C(SA2_code)[T.205041493.0]  -1.26e-13   1.18e-13     -1.064      0.287   -3.58e-13    1.06e-13
C(SA2_code)[T.205041494.0]  3.799e-14   9.36e-14      0.406      0.685   -1.46e-13    2.22e-13
C(SA2_code)[T.205051100.0]    89.2001     61.232      1.457      0.145     -30.828     209.228
C(SA2_code)[T.205051101.0]   -11.4194     46.749     -0.244      0.807    -103.059      80.220
C(SA2_code)[T.205051102.0]    -1.6540     78.627     -0.021      0.983    -155.781     152.473
C(SA2_code)[T.205051103.0]    40.2405     42.494      0.947      0.344     -43.057     123.538
C(SA2_code)[T.205051104.0]   -47.4404     80.738     -0.588      0.557    -205.705     110.824
C(SA2_code)[T.206011106.0]    -6.4763     11.434     -0.566      0.571     -28.889      15.936
C(SA2_code)[T.206011107.0]   -16.8365      8.316     -2.025      0.043     -33.137      -0.536
C(SA2_code)[T.206011109.0]   -28.7803     17.460     -1.648      0.099     -63.005       5.445
C(SA2_code)[T.206011495.0]  1.056e-14      9e-14      0.117      0.907   -1.66e-13    1.87e-13
C(SA2_code)[T.206011496.0]  7.055e-14    9.3e-14      0.759      0.448   -1.12e-13    2.53e-13
C(SA2_code)[T.206011497.0]  5.808e-14   1.01e-13      0.577      0.564   -1.39e-13    2.55e-13
C(SA2_code)[T.206011498.0]  1.414e-13   8.43e-14      1.677      0.094   -2.39e-14    3.07e-13
C(SA2_code)[T.206021110.0]    67.3860     14.984      4.497      0.000      38.013      96.759
C(SA2_code)[T.206021112.0]    29.2000     11.375      2.567      0.010       6.902      51.498
C(SA2_code)[T.206021499.0] -3.362e-13   1.08e-13     -3.114      0.002   -5.48e-13   -1.25e-13
C(SA2_code)[T.206021500.0] -6.272e-15    6.7e-14     -0.094      0.925   -1.38e-13    1.25e-13
C(SA2_code)[T.206031113.0]    47.3773     14.137      3.351      0.001      19.666      75.088
C(SA2_code)[T.206031115.0]    21.0706     13.965      1.509      0.131      -6.305      48.446
C(SA2_code)[T.206031116.0]    32.8754     11.367      2.892      0.004      10.594      55.157
C(SA2_code)[T.206031501.0]  3.242e-13   9.83e-14      3.297      0.001    1.31e-13    5.17e-13
C(SA2_code)[T.206031502.0]  1.255e-14   1.06e-13      0.118      0.906   -1.95e-13     2.2e-13
C(SA2_code)[T.206041117.0]   -63.0347     17.027     -3.702      0.000     -96.411     -29.658
C(SA2_code)[T.206041118.0]    84.4044      9.273      9.102      0.000      66.227     102.582
C(SA2_code)[T.206041119.0]   138.9607     27.246      5.100      0.000      85.552     192.370
C(SA2_code)[T.206041120.0]  1.096e-13   8.49e-14      1.291      0.197   -5.68e-14    2.76e-13
C(SA2_code)[T.206041121.0]    15.7900     17.031      0.927      0.354     -17.594      49.174
C(SA2_code)[T.206041124.0]    45.5934     45.904      0.993      0.321     -44.389     135.575
C(SA2_code)[T.206041125.0]    61.5926     16.173      3.808      0.000      29.890      93.295
C(SA2_code)[T.206041503.0]   4.83e-14   8.77e-14      0.551      0.582   -1.24e-13     2.2e-13
C(SA2_code)[T.206041504.0] -1.004e-13   7.35e-14     -1.366      0.172   -2.44e-13    4.37e-14
C(SA2_code)[T.206041505.0] -1.856e-14   8.75e-14     -0.212      0.832    -1.9e-13    1.53e-13
C(SA2_code)[T.206041506.0]  -1.28e-13   7.96e-14     -1.607      0.108   -2.84e-13    2.81e-14
C(SA2_code)[T.206041507.0]  -2.12e-13   9.76e-14     -2.172      0.030   -4.03e-13   -2.07e-14
C(SA2_code)[T.206041508.0]  1.489e-13   6.21e-14      2.399      0.016    2.72e-14    2.71e-13
C(SA2_code)[T.206041509.0]  6.824e-14   9.26e-14      0.737      0.461   -1.13e-13     2.5e-13
C(SA2_code)[T.206041510.0]  3.909e-14   9.35e-14      0.418      0.676   -1.44e-13    2.22e-13
C(SA2_code)[T.206051128.0]    84.8298     12.922      6.565      0.000      59.500     110.159
C(SA2_code)[T.206051129.0]   -19.3446     15.542     -1.245      0.213     -49.810      11.120
C(SA2_code)[T.206051130.0]   117.4588     41.844      2.807      0.005      35.435     199.483
C(SA2_code)[T.206051134.0]   -51.2620      9.132     -5.614      0.000     -69.162     -33.362
C(SA2_code)[T.206051511.0]  3.167e-14   1.15e-13      0.276      0.783   -1.94e-13    2.57e-13
C(SA2_code)[T.206051512.0] -1.361e-13    8.4e-14     -1.620      0.105   -3.01e-13    2.86e-14
C(SA2_code)[T.206051513.0] -8.448e-16   8.06e-14     -0.010      0.992   -1.59e-13    1.57e-13
C(SA2_code)[T.206051514.0]  6.501e-14    9.1e-14      0.715      0.475   -1.13e-13    2.43e-13
C(SA2_code)[T.206061135.0]    56.2659     15.264      3.686      0.000      26.346      86.186
C(SA2_code)[T.206061136.0]    -8.4489     16.183     -0.522      0.602     -40.172      23.274
C(SA2_code)[T.206061138.0]    52.7316     14.718      3.583      0.000      23.882      81.581
C(SA2_code)[T.206061515.0]  4.426e-14   8.51e-14      0.520      0.603   -1.22e-13    2.11e-13
C(SA2_code)[T.206061516.0] -1.531e-13   1.11e-13     -1.384      0.166    -3.7e-13    6.37e-14
C(SA2_code)[T.206071139.0]    68.1018     13.531      5.033      0.000      41.578      94.626
C(SA2_code)[T.206071140.0]   138.8237     18.638      7.449      0.000     102.290     175.358
C(SA2_code)[T.206071141.0]    89.9415     30.373      2.961      0.003      30.404     149.479
C(SA2_code)[T.206071142.0]   108.0098     23.464      4.603      0.000      62.014     154.005
C(SA2_code)[T.206071143.0]    83.4430     12.193      6.844      0.000      59.543     107.343
C(SA2_code)[T.206071145.0]    90.2779     17.195      5.250      0.000      56.571     123.985
C(SA2_code)[T.206071517.0]  1.341e-13   7.59e-14      1.767      0.077   -1.47e-14    2.83e-13
C(SA2_code)[T.206071518.0] -9.329e-14   9.12e-14     -1.022      0.307   -2.72e-13    8.56e-14
C(SA2_code)[T.207011146.0]    77.0749     25.897      2.976      0.003      26.312     127.838
C(SA2_code)[T.207011147.0]    11.5123     16.470      0.699      0.485     -20.773      43.797
C(SA2_code)[T.207011148.0]    39.6887     15.947      2.489      0.013       8.429      70.949
C(SA2_code)[T.207011149.0]    54.9688     13.283      4.138      0.000      28.932      81.006
C(SA2_code)[T.207011150.0]    52.7647     13.824      3.817      0.000      25.667      79.862
C(SA2_code)[T.207011152.0]    10.1259      7.996      1.266      0.205      -5.547      25.799
C(SA2_code)[T.207011154.0]    55.5536     24.721      2.247      0.025       7.096     104.011
C(SA2_code)[T.207011155.0]    45.9528     14.230      3.229      0.001      18.059      73.847
C(SA2_code)[T.207011519.0]  7.947e-14   9.17e-14      0.867      0.386      -1e-13    2.59e-13
C(SA2_code)[T.207011520.0] -2.797e-14    5.5e-14     -0.509      0.611   -1.36e-13    7.97e-14
C(SA2_code)[T.207011521.0] -1.208e-13   6.74e-14     -1.790      0.073   -2.53e-13    1.14e-14
C(SA2_code)[T.207011522.0] -4.013e-14   7.93e-14     -0.506      0.613   -1.96e-13    1.15e-13
C(SA2_code)[T.207021156.0]    13.4018     20.215      0.663      0.507     -26.225      53.028
C(SA2_code)[T.207021157.0]    53.0020     10.971      4.831      0.000      31.496      74.507
C(SA2_code)[T.207021159.0]    48.2241     23.014      2.095      0.036       3.112      93.336
C(SA2_code)[T.207021160.0]    30.9585     21.846      1.417      0.156     -11.865      73.782
C(SA2_code)[T.207021424.0]    32.5826     15.951      2.043      0.041       1.316      63.849
C(SA2_code)[T.207021425.0]    43.8894     16.927      2.593      0.010      10.709      77.070
C(SA2_code)[T.207031161.0]   -16.6879     13.393     -1.246      0.213     -42.940       9.565
C(SA2_code)[T.207031162.0]    21.7650     21.966      0.991      0.322     -21.294      64.824
C(SA2_code)[T.207031163.0]    11.1394     14.488      0.769      0.442     -17.260      39.538
C(SA2_code)[T.207031164.0]    16.7667     13.550      1.237      0.216      -9.795      43.328
C(SA2_code)[T.207031165.0]   -44.3120     31.826     -1.392      0.164    -106.697      18.073
C(SA2_code)[T.207031166.0]     8.3494     19.952      0.418      0.676     -30.761      47.460
C(SA2_code)[T.207031167.0]    21.4097     15.484      1.383      0.167      -8.942      51.761
C(SA2_code)[T.208011168.0]    39.7184     28.341      1.401      0.161     -15.837      95.274
C(SA2_code)[T.208011169.0]    78.0587     15.182      5.142      0.000      48.299     107.819
C(SA2_code)[T.208011170.0]    44.7843     15.902      2.816      0.005      13.613      75.955
C(SA2_code)[T.208011171.0]    65.3066     16.126      4.050      0.000      33.696      96.918
C(SA2_code)[T.208011172.0]    61.3035     17.721      3.459      0.001      26.567      96.040
C(SA2_code)[T.208011173.0]    48.7509     19.324      2.523      0.012      10.872      86.630
C(SA2_code)[T.208021174.0]    47.4589     12.497      3.798      0.000      22.962      71.956
C(SA2_code)[T.208021176.0]   -46.6700     10.858     -4.298      0.000     -67.955     -25.385
C(SA2_code)[T.208021177.0]    -0.4495     19.802     -0.023      0.982     -39.265      38.366
C(SA2_code)[T.208021178.0]    26.8397     13.263      2.024      0.043       0.841      52.838
C(SA2_code)[T.208021179.0]    28.2711     12.838      2.202      0.028       3.107      53.436
C(SA2_code)[T.208021180.0]    21.9415     15.275      1.436      0.151      -8.000      51.883
C(SA2_code)[T.208021181.0]   -41.4679     16.267     -2.549      0.011     -73.356      -9.580
C(SA2_code)[T.208021182.0]   -46.2842     11.282     -4.102      0.000     -68.400     -24.169
C(SA2_code)[T.208021426.0]    74.6499     17.006      4.390      0.000      41.315     107.985
C(SA2_code)[T.208021427.0]    76.0517     17.864      4.257      0.000      41.035     111.068
C(SA2_code)[T.208031183.0]     6.9954     45.484      0.154      0.878     -82.163      96.154
C(SA2_code)[T.208031185.0]    78.4101     24.549      3.194      0.001      30.288     126.533
C(SA2_code)[T.208031186.0]    59.9431     24.485      2.448      0.014      11.946     107.940
C(SA2_code)[T.208031187.0]    78.6759     78.296      1.005      0.315     -74.801     232.153
C(SA2_code)[T.208031188.0]    45.9568     12.111      3.795      0.000      22.216      69.698
C(SA2_code)[T.208031189.0]    49.7503     24.629      2.020      0.043       1.473      98.028
C(SA2_code)[T.208031190.0]    26.2964     15.735      1.671      0.095      -4.547      57.140
C(SA2_code)[T.208031191.0]    89.0444     19.791      4.499      0.000      50.250     127.839
C(SA2_code)[T.208031193.0]    52.6370     15.519      3.392      0.001      22.217      83.058
C(SA2_code)[T.208041194.0]     4.4552     10.725      0.415      0.678     -16.568      25.479
C(SA2_code)[T.208041195.0]   -12.9465     14.495     -0.893      0.372     -41.360      15.467

In [108]:
# find the mean of all features based on SA2 code, the average of internal features such as cost, 
# rooms and bath of each property will be used to predict suburb rent price

df1=df.groupby('SA2_code').mean()

df1.head()

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,driving_time_to_station,distance_to_station,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21
SA2_code,,,,,,,,,,,,,,,,,,,,
0.0,361.666667,2.666667,1.333333,0.666667,3367.483333,81450.086667,17495.593333,404067.136667,7382.833333,177479.710000,6985.840000,164406.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201011001.0,435.256410,3.564103,1.897436,2.000000,163.580513,1428.693846,5427.199231,121144.553590,257.708205,2448.217949,575.202051,5944.547436,16823.0,8371.0,99.0,52.7,319.2,11.038,28005.0,3.00
201011002.0,413.472222,2.944444,1.361111,1.277778,125.538611,1050.494444,5059.028333,114844.282778,208.058333,1893.676389,256.544722,2155.520000,12076.0,-289.0,-2.3,12.4,975.5,10.220,24587.0,4.25
201011005.0,432.857143,3.571429,1.714286,1.285714,217.980000,1646.151429,5374.818571,117215.971429,889.321429,10394.030000,883.514286,11338.571429,7232.0,507.0,7.5,51.6,140.2,5.614,27272.0,2.77
201011006.0,452.948718,3.897436,2.025641,2.153846,303.162308,2675.248205,5599.432821,119381.886410,300.210256,2393.878462,757.141538,7613.816410,10640.0,4802.0,82.3,34.2,311.5,6.568,27209.0,5.55

In [109]:
# remove the first row where the sa2 code is out of range
df1=df1.iloc[1:,:]
df1.head()

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,driving_time_to_station,distance_to_station,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21
SA2_code,,,,,,,,,,,,,,,,,,,,
201011001.0,435.256410,3.564103,1.897436,2.000000,163.580513,1428.693846,5427.199231,121144.553590,257.708205,2448.217949,575.202051,5944.547436,16823.0,8371.0,99.0,52.7,319.2,11.038,28005.0,3.00
201011002.0,413.472222,2.944444,1.361111,1.277778,125.538611,1050.494444,5059.028333,114844.282778,208.058333,1893.676389,256.544722,2155.520000,12076.0,-289.0,-2.3,12.4,975.5,10.220,24587.0,4.25
201011005.0,432.857143,3.571429,1.714286,1.285714,217.980000,1646.151429,5374.818571,117215.971429,889.321429,10394.030000,883.514286,11338.571429,7232.0,507.0,7.5,51.6,140.2,5.614,27272.0,2.77
201011006.0,452.948718,3.897436,2.025641,2.153846,303.162308,2675.248205,5599.432821,119381.886410,300.210256,2393.878462,757.141538,7613.816410,10640.0,4802.0,82.3,34.2,311.5,6.568,27209.0,5.55
201011008.0,373.695652,2.956522,1.434783,1.652174,146.567826,1462.468261,5001.787826,118067.323478,238.780000,2259.183478,347.405652,3218.956087,15314.0,841.0,5.8,67.6,226.6,9.982,25915.5,7.90

In [110]:
# rest the index of the dataframe
df1=df1.reset_index()
df1.head()

,SA2_code,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,...,driving_time_to_station,distance_to_station,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21
0,201011001.0,435.256410,3.564103,1.897436,2.000000,163.580513,1428.693846,5427.199231,121144.553590,257.708205,...,575.202051,5944.547436,16823.0,8371.0,99.0,52.7,319.2,11.038,28005.0,3.00
1,201011002.0,413.472222,2.944444,1.361111,1.277778,125.538611,1050.494444,5059.028333,114844.282778,208.058333,...,256.544722,2155.520000,12076.0,-289.0,-2.3,12.4,975.5,10.220,24587.0,4.25
2,201011005.0,432.857143,3.571429,1.714286,1.285714,217.980000,1646.151429,5374.818571,117215.971429,889.321429,...,883.514286,11338.571429,7232.0,507.0,7.5,51.6,140.2,5.614,27272.0,2.77
3,201011006.0,452.948718,3.897436,2.025641,2.153846,303.162308,2675.248205,5599.432821,119381.886410,300.210256,...,757.141538,7613.816410,10640.0,4802.0,82.3,34.2,311.5,6.568,27209.0,5.55
4,201011008.0,373.695652,2.956522,1.434783,1.652174,146.567826,1462.468261,5001.787826,118067.323478,238.780000,...,347.405652,3218.956087,15314.0,841.0,5.8,67.6,226.6,9.982,25915.5,7.90

In [111]:
df1.columns

Index(['SA2_code', 'cost_text', 'rooms', 'baths', 'parking',
       'driving_time_to_school', 'distance_to_school', 'driving_time_to_CBD',
       'distance_to_CBD', 'driving_time_to_sc', 'distance_to_sc',
       'driving_time_to_station', 'distance_to_station', 'population_21',
       'num_increase', 'percent_increase', 'Area', 'pop_dens_21', 'num_job_19',
       'income_rate_19', 'unemployment_rate_21'],
      dtype='object')

In [112]:
# take out the features that will be used to predict suburb rent price
df1=df1[['SA2_code', 'rooms', 'baths', 'parking', 'distance_to_CBD', 'distance_to_sc', 
       'num_increase', 'percent_increase', 'Area', 'pop_dens_21']]
df1

,SA2_code,rooms,baths,parking,distance_to_CBD,distance_to_sc,num_increase,percent_increase,Area,pop_dens_21
0,201011001.0,3.564103,1.897436,2.000000,121144.553590,2448.217949,8371.0,99.0,52.7,319.2
1,201011002.0,2.944444,1.361111,1.277778,114844.282778,1893.676389,-289.0,-2.3,12.4,975.5
2,201011005.0,3.571429,1.714286,1.285714,117215.971429,10394.030000,507.0,7.5,51.6,140.2
3,201011006.0,3.897436,2.025641,2.153846,119381.886410,2393.878462,4802.0,82.3,34.2,311.5
4,201011008.0,2.956522,1.434783,1.652174,118067.323478,2259.183478,841.0,5.8,67.6,226.6
...,...,...,...,...,...,...,...,...,...,...
485,217031476.0,3.444444,1.555556,1.555556,196466.757778,66515.566667,558.0,16.3,1505.9,2.6
486,217041477.0,3.500000,1.500000,1.000000,226987.482500,54828.855000,210.0,3.1,3275.8,2.1
487,217041478.0,2.800000,1.200000,1.200000,286117.264000,40171.720000,939.0,10.4,2037.8,4.9
488,217041479.0,2.578947,1.315789,1.263158,255943.605263,3697.599474,2583.0,13.0,62.4,359.9
489,217041480.0,2.714286,1.285714,1.214286,255282.548571,3762.587143,151.0,1.1,120.2,110.6

In [113]:
df1=df1.rename(columns={'SA2_code':'SA2'})
df1.head()

,SA2,rooms,baths,parking,distance_to_CBD,distance_to_sc,num_increase,percent_increase,Area,pop_dens_21
0,201011001.0,3.564103,1.897436,2.000000,121144.553590,2448.217949,8371.0,99.0,52.7,319.2
1,201011002.0,2.944444,1.361111,1.277778,114844.282778,1893.676389,-289.0,-2.3,12.4,975.5
2,201011005.0,3.571429,1.714286,1.285714,117215.971429,10394.030000,507.0,7.5,51.6,140.2
3,201011006.0,3.897436,2.025641,2.153846,119381.886410,2393.878462,4802.0,82.3,34.2,311.5
4,201011008.0,2.956522,1.434783,1.652174,118067.323478,2259.183478,841.0,5.8,67.6,226.6

In [114]:
# read prediction of number of jobs, median income rate, unemployment rate, and population
# based on sa2 suburbs
income_num=pd.read_csv('../data/curated/income_num_predict.csv')
income_rate=pd.read_csv('../data/curated/income_rate_predict.csv')
unemployment=pd.read_csv('../data/curated/unemployment_predict.csv')
population=pd.read_csv('../data/curated/population_predict.csv')

In [115]:
income_num.head()

         SA2          SA2 NAME     2022     2023     2024     2025
0  201011001         Alfredton  12.7795  13.3918  14.0041  14.6164
1  201011002          Ballarat  10.3240  10.4068  10.4896  10.5724
2  201011003  Ballarat - North  19.6704  20.0658  20.4612  20.8566
3  201011004  Ballarat - South  19.7538  20.3248  20.8958  21.4668
4  201011005         Buninyong   5.7792   5.8604   5.9416   6.0228

In [116]:
income_rate.head()

         SA2          SA2 NAME   2022   2023   2024   2025
0  201011001         Alfredton  29724  30317  30909  31502
1  201011002          Ballarat  26036  26508  26980  27452
2  201011003  Ballarat - North  28862  29685  30507  31330
3  201011004  Ballarat - South  23767  24057  24346  24636
4  201011005         Buninyong  29809  30500  31190  31881

In [117]:
unemployment.head()

,Statistical Area Level 2 (SA2) (2016 ASGS),SA2 Code (2016 ASGS),2022,2023,2024,2025
0,Bega-Eden Hinterland,101041020,7.130909,7.347045,7.563182,7.779318
1,Merimbula - Tura Beach,101041025,5.424091,5.536818,5.649545,5.762273
2,Dungog,106011110,4.289545,4.350682,4.411818,4.472955
3,Robertson - Fitzroy Falls,114021288,3.007727,2.952955,2.898182,2.843409
4,Minto - St Andrews,123021443,6.047273,5.991136,5.935000,5.878864

In [118]:
population.head()

    SA2 code       SA2 name   2022   2023   2024   2025   2026
0  201011001      Alfredton  15311  15832  16353  16875  17396
1  201011002       Ballarat  12394  12409  12423  12438  12452
2  201011005      Buninyong   7843   7958   8073   8187   8302
3  201011006      Delacombe   9408   9689   9971  10252  10534
4  201011007  Smythes Creek   4258   4302   4345   4389   4432

In [119]:
unemployment=unemployment.rename(columns={'SA2 Code (2016 ASGS)':'SA2'})
population=population.rename(columns={'SA2 code':'SA2'})

In [120]:
# join the dataset together
df2=pd.merge(df1,income_num[['SA2','2025']],on='SA2')
df2=df2.rename(columns={'2025':'num_job_19'})
df2=pd.merge(df2,income_rate[['SA2','2025']],on='SA2')
df2=df2.rename(columns={'2025':'income_rate_19'})
df2=pd.merge(df2,unemployment[['SA2','2025']],on='SA2')
df2=df2.rename(columns={'2025':'unemployment_rate_21'})
df2=pd.merge(df2,population[['SA2','2025']],on='SA2')
df2=df2.rename(columns={'2025':'population_21'})
df2=df2.rename(columns={'SA2':'SA2_code'})
df2.head()

,SA2_code,rooms,baths,parking,distance_to_CBD,distance_to_sc,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,population_21
0,201011001.0,3.564103,1.897436,2.000000,121144.553590,2448.217949,8371.0,99.0,52.7,319.2,14.6164,31502,2.209545,16875
1,201011002.0,2.944444,1.361111,1.277778,114844.282778,1893.676389,-289.0,-2.3,12.4,975.5,10.5724,27452,2.166364,12438
2,201011005.0,3.571429,1.714286,1.285714,117215.971429,10394.030000,507.0,7.5,51.6,140.2,6.0228,31881,1.751818,8187
3,201011006.0,3.897436,2.025641,2.153846,119381.886410,2393.878462,4802.0,82.3,34.2,311.5,8.7140,29062,3.662727,10252
4,201011008.0,2.956522,1.434783,1.652174,118067.323478,2259.183478,841.0,5.8,67.6,226.6,11.0670,28838,5.956591,15986

In [121]:
# find list of all unique sa2 code
df3=df2['SA2_code']
df3

0      201011001.0
1      201011002.0
2      201011005.0
3      201011006.0
4      201011008.0
          ...
318    217031476.0
319    217041477.0
320    217041478.0
321    217041479.0
322    217041480.0
Name: SA2_code, Length: 323, dtype: float64

In [122]:
# add the suburb name of these sa2 code
df3=pd.merge(df3,df[['SA2_name', 'SA2_code']],on='SA2_code',how='left')
df3=df3.drop_duplicates()
df3=df3.reset_index()
df3=df3.iloc[:,1:]
df3.head()

      SA2_code                 SA2_name
0  201011001.0                Alfredton
1  201011002.0                 Ballarat
2  201011005.0                Buninyong
3  201011006.0                Delacombe
4  201011008.0  Wendouree - Miners Rest

In [123]:
# merge all required dataset into 1 dataframe
df2=pd.merge(df1,income_num[['SA2','2023']],on='SA2')
df2=df2.rename(columns={'2023':'num_job_19'})
df2=pd.merge(df2,income_rate[['SA2','2023']],on='SA2')
df2=df2.rename(columns={'2023':'income_rate_19'})
df2=pd.merge(df2,unemployment[['SA2','2023']],on='SA2')
df2=df2.rename(columns={'2023':'unemployment_rate_21'})
df2=pd.merge(df2,population[['SA2','2023']],on='SA2')
df2=df2.rename(columns={'2023':'population_21'})
df2=df2.rename(columns={'SA2':'SA2_code'})
df2.head()

,SA2_code,rooms,baths,parking,distance_to_CBD,distance_to_sc,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,population_21
0,201011001.0,3.564103,1.897436,2.000000,121144.553590,2448.217949,8371.0,99.0,52.7,319.2,13.3918,30317,2.260455,15832
1,201011002.0,2.944444,1.361111,1.277778,114844.282778,1893.676389,-289.0,-2.3,12.4,975.5,10.4068,26508,2.735455,12409
2,201011005.0,3.571429,1.714286,1.285714,117215.971429,10394.030000,507.0,7.5,51.6,140.2,5.8604,30500,1.941818,7958
3,201011006.0,3.897436,2.025641,2.153846,119381.886410,2393.878462,4802.0,82.3,34.2,311.5,7.9402,28317,3.906364,9689
4,201011008.0,2.956522,1.434783,1.652174,118067.323478,2259.183478,841.0,5.8,67.6,226.6,10.6620,27742,6.365227,15722

In [124]:
# predict rent price of each sa2 suburb 
df3['2023']=fit3.predict(df2)

In [125]:
df2=pd.merge(df1,income_num[['SA2','2024']],on='SA2')
df2=df2.rename(columns={'2024':'num_job_19'})
df2=pd.merge(df2,income_rate[['SA2','2024']],on='SA2')
df2=df2.rename(columns={'2024':'income_rate_19'})
df2=pd.merge(df2,unemployment[['SA2','2024']],on='SA2')
df2=df2.rename(columns={'2024':'unemployment_rate_21'})
df2=pd.merge(df2,population[['SA2','2024']],on='SA2')
df2=df2.rename(columns={'2024':'population_21'})
df2=df2.rename(columns={'SA2':'SA2_code'})
df2.head()

,SA2_code,rooms,baths,parking,distance_to_CBD,distance_to_sc,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,population_21
0,201011001.0,3.564103,1.897436,2.000000,121144.553590,2448.217949,8371.0,99.0,52.7,319.2,14.0041,30909,2.235000,16353
1,201011002.0,2.944444,1.361111,1.277778,114844.282778,1893.676389,-289.0,-2.3,12.4,975.5,10.4896,26980,2.450909,12423
2,201011005.0,3.571429,1.714286,1.285714,117215.971429,10394.030000,507.0,7.5,51.6,140.2,5.9416,31190,1.846818,8073
3,201011006.0,3.897436,2.025641,2.153846,119381.886410,2393.878462,4802.0,82.3,34.2,311.5,8.3271,28689,3.784545,9971
4,201011008.0,2.956522,1.434783,1.652174,118067.323478,2259.183478,841.0,5.8,67.6,226.6,10.8645,28290,6.160909,15854

In [126]:
# predict rent price of each sa2 suburb 
df3['2024']=fit3.predict(df2)

In [127]:
df2=pd.merge(df1,income_num[['SA2','2025']],on='SA2')
df2=df2.rename(columns={'2025':'num_job_19'})
df2=pd.merge(df2,income_rate[['SA2','2025']],on='SA2')
df2=df2.rename(columns={'2025':'income_rate_19'})
df2=pd.merge(df2,unemployment[['SA2','2025']],on='SA2')
df2=df2.rename(columns={'2025':'unemployment_rate_21'})
df2=pd.merge(df2,population[['SA2','2025']],on='SA2')
df2=df2.rename(columns={'2025':'population_21'})
df2=df2.rename(columns={'SA2':'SA2_code'})
df2.head()

,SA2_code,rooms,baths,parking,distance_to_CBD,distance_to_sc,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,population_21
0,201011001.0,3.564103,1.897436,2.000000,121144.553590,2448.217949,8371.0,99.0,52.7,319.2,14.6164,31502,2.209545,16875
1,201011002.0,2.944444,1.361111,1.277778,114844.282778,1893.676389,-289.0,-2.3,12.4,975.5,10.5724,27452,2.166364,12438
2,201011005.0,3.571429,1.714286,1.285714,117215.971429,10394.030000,507.0,7.5,51.6,140.2,6.0228,31881,1.751818,8187
3,201011006.0,3.897436,2.025641,2.153846,119381.886410,2393.878462,4802.0,82.3,34.2,311.5,8.7140,29062,3.662727,10252
4,201011008.0,2.956522,1.434783,1.652174,118067.323478,2259.183478,841.0,5.8,67.6,226.6,11.0670,28838,5.956591,15986

In [128]:
# predict rent price of each sa2 suburb 
df3['2025']=fit3.predict(df2)

In [129]:
# create new dataframe to store predictions, add the average rent of this year for each suburb
df1=df.groupby('SA2_code').mean().reset_index()
df1=df1[['SA2_code','cost_text']]

In [130]:
df4=pd.merge(df3,df1,on='SA2_code',how='left')

In [131]:
df4.head()

,SA2_code,SA2_name,2023,2024,2025,cost_text
0,201011001.0,Alfredton,439.054960,438.464859,437.873143,435.256410
1,201011002.0,Ballarat,428.556925,431.112324,433.668388,413.472222
2,201011005.0,Buninyong,436.522564,436.242755,435.960000,432.857143
3,201011006.0,Delacombe,470.846183,471.788193,472.727255,452.948718
4,201011008.0,Wendouree - Miners Rest,389.375270,390.835596,392.295922,373.695652

In [132]:
# calculate increase in rent each year
df4['23dif']=df4['2023']-df4['cost_text']
df4['24dif']=df4['2024']-df4['cost_text']
df4['25dif']=df4['2025']-df4['cost_text']
# df4['22to23dif']=df4['2023']-df4['cost_text']
# df4['23to24dif']=df4['2024']-df4['2023']
# df4['24to25dif']=df4['2025']-df4['2024']

In [133]:
df4.head()

,SA2_code,SA2_name,2023,2024,2025,cost_text,23dif,24dif,25dif
0,201011001.0,Alfredton,439.054960,438.464859,437.873143,435.256410,3.798550,3.208449,2.616733
1,201011002.0,Ballarat,428.556925,431.112324,433.668388,413.472222,15.084702,17.640101,20.196166
2,201011005.0,Buninyong,436.522564,436.242755,435.960000,432.857143,3.665421,3.385613,3.102857
3,201011006.0,Delacombe,470.846183,471.788193,472.727255,452.948718,17.897466,18.839475,19.778537
4,201011008.0,Wendouree - Miners Rest,389.375270,390.835596,392.295922,373.695652,15.679617,17.139944,18.600270

In [134]:
# calculate how much the rent increase for each suburb by percentage
df4['23rate']=((df4['2023']-df4['cost_text'])/df4['cost_text'])*100
df4['24rate']=((df4['2024']-df4['cost_text'])/df4['cost_text'])*100
df4['25rate']=((df4['2025']-df4['cost_text'])/df4['cost_text'])*100
# df4['22to23dif']=df4['2023']-df4['cost_text']
# df4['23to24dif']=df4['2024']-df4['2023']
# df4['24to25dif']=df4['2025']-df4['2024']

In [135]:
df4.head()

,SA2_code,SA2_name,2023,2024,2025,cost_text,23dif,24dif,25dif,23rate,24rate,25rate
0,201011001.0,Alfredton,439.054960,438.464859,437.873143,435.256410,3.798550,3.208449,2.616733,0.872715,0.737140,0.601193
1,201011002.0,Ballarat,428.556925,431.112324,433.668388,413.472222,15.084702,17.640101,20.196166,3.648299,4.266333,4.884528
2,201011005.0,Buninyong,436.522564,436.242755,435.960000,432.857143,3.665421,3.385613,3.102857,0.846797,0.782155,0.716832
3,201011006.0,Delacombe,470.846183,471.788193,472.727255,452.948718,17.897466,18.839475,19.778537,3.951323,4.159295,4.366617
4,201011008.0,Wendouree - Miners Rest,389.375270,390.835596,392.295922,373.695652,15.679617,17.139944,18.600270,4.195825,4.586605,4.977385

In [136]:
# 2023 top 10 suburb with highest rent increasing
df4.sort_values('23dif',ascending=False).head(10)[['SA2_name','23dif']]

                      SA2_name      23dif
182   Campbellfield - Coolaroo  40.824185
267                   Laverton  34.995772
264  Rockbank - Mount Cottrell  24.757880
318                      Otway  23.526012
9           Maryborough (Vic.)  21.996009
7                   Daylesford  20.786538
315                      Colac  20.670774
89                   Docklands  19.713309
3                    Delacombe  17.897466
316            Colac Surrounds  16.736488

In [137]:
# 2024 top 10 suburb with highest rent increasing
df4.sort_values('24dif',ascending=False).head(10)[['SA2_name','24dif']]

                      SA2_name      24dif
267                   Laverton  45.058492
182   Campbellfield - Coolaroo  43.351366
318                      Otway  27.111579
315                      Colac  25.288904
9           Maryborough (Vic.)  23.694172
7                   Daylesford  22.384648
264  Rockbank - Mount Cottrell  21.787651
256                  Braybrook  21.240808
89                   Docklands  20.800534
316            Colac Surrounds  20.795989

In [138]:
# 2025 top 10 suburb with highest rent increasing
df4.sort_values('25dif',ascending=False).head(10)[['SA2_name','25dif']]

                     SA2_name      25dif
267                  Laverton  55.121213
182  Campbellfield - Coolaroo  45.878546
318                     Otway  30.694865
315                     Colac  29.905419
256                 Braybrook  25.752132
9          Maryborough (Vic.)  25.393000
316           Colac Surrounds  24.856156
7                  Daylesford  23.982758
312                  Portland  22.292043
89                  Docklands  21.890040

In [139]:
# 2023 top 10 suburb with highest rent increasing by rate(percentage)
df4.sort_values('23rate',ascending=False).head(10)[['SA2_name','23rate']]

                      SA2_name     23rate
182   Campbellfield - Coolaroo  11.687906
267                   Laverton   9.306278
9           Maryborough (Vic.)   7.251432
318                      Otway   7.226420
264  Rockbank - Mount Cottrell   5.784552
315                      Colac   4.772473
7                   Daylesford   4.281470
4      Wendouree - Miners Rest   4.195825
312                   Portland   4.148279
256                  Braybrook   3.987117

In [140]:
# 2024 top 10 suburb with highest rent increasing by rate(percentage)
df4.sort_values('24rate',ascending=False).head(10)[['SA2_name','24rate']]

                      SA2_name     24rate
182   Campbellfield - Coolaroo  12.411434
267                   Laverton  11.982215
318                      Otway   8.327789
9           Maryborough (Vic.)   7.811265
315                      Colac   5.838708
264  Rockbank - Mount Cottrell   5.090573
256                  Braybrook   5.062986
312                   Portland   4.928826
7                   Daylesford   4.610638
4      Wendouree - Miners Rest   4.586605

In [141]:
# 2025 top 10 suburb with highest rent increasing by rate(percentage)
df4.sort_values('25rate',ascending=False).head(10)[['SA2_name','25rate']]

                     SA2_name     25rate
267                  Laverton  14.658151
182  Campbellfield - Coolaroo  13.134962
318                     Otway   9.428457
9          Maryborough (Vic.)   8.371319
315                     Colac   6.904570
256                 Braybrook   6.138311
312                  Portland   5.709543
316           Colac Surrounds   5.021446
4     Wendouree - Miners Rest   4.977385
7                  Daylesford   4.939806